.slide_container {
  width: 100%;
  margin-top: 40px;

  img {
    width: 100%;
    height: 450px;
  }

  .parent_div {
    position: relative;
    .left_slide {
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 13px;
      background-position: -637px -256px;
      background-size: 684px 663px;
      background-image: url("http://www.spacecloud.kr/_nuxt/img/08341ee.png");
      width: 20px;
      height: 36px;
    }

    .right_slide {
      display: inline-block;
      position: absolute;
      top: 45%;
      right: 18px;
      background-size: 684px 663px;
      background-image: url("http://www.spacecloud.kr/_nuxt/img/08341ee.png");
      background-position: -637px -296px;
      width: 20px;
      height: 36px;
    }
  }

  .react-slideshow-container .nav:last-of-type {
    background-size: 684px 663px;
    background-image: url("http://www.spacecloud.kr/_nuxt/img/08341ee.png");
    background-position: -637px -296px;
    width: 20px;
    height: 36px;
    opacity: 0;
  }

  .react-slideshow-container .nav:first-of-type {
    background-position: -637px -256px;
    background-size: 684px 663px;
    background-image: url("http://www.spacecloud.kr/_nuxt/img/08341ee.png");
    width: 20px;
    height: 36px;
    opacity: 0;
  }
}
