$width-large: 1300px;
.footer_wrap {
  width: 1270px;
  margin: 0 auto;
  position: relative;
  @media all and (max-width: $width-large) {
    display: none;
  }
  .company_caption {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #656565;
    margin: 30px 0;
  }
}
.footer {
  margin-top: 50px;
  padding: 40px 0 30px;
  background-color: #ebebeb;
  .top_area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #cecbcb;
    .footer_logo {
      display: inline-block;
      background-position: -320px -250px;
      width: 168px;
      height: 34px;
    }

    .footer_top_area_menu {
      display: flex;
      align-items: center;
      text-align: end;

      li {
        height: 60%;
        font-size: 13px;
        padding: 0 10px;
        border-right: 1px solid #949494;
        &:last-child {
          border: 0;
        }
      }
    }
  }
  .bottom_area {
    width: 830px;
    padding: 25px 0;

    li {
      display: inline-block;
      padding-right: 11px;
      margin: 10px 0 0 10px;
      font-size: 13px;
      color: #656565;
      border-right: 1px solid #656565;
      a {
        color: #656565;
      }
      &:first-child {
        margin: 0;
      }
      &:last-child {
        border: 0;
      }
    }
    .company_location {
      margin-left: 0;
    }
    .company_phonenumber {
      border: 0;
    }
    .online_inquiry {
      margin-left: 0;
    }
    .business_info {
      position: relative;
      border: 0;
      a {
        text-decoration: none;
      }
      &::after {
        content: "";
        background-image: url("https://www.spacecloud.kr/_nuxt/img/08341ee.png");
        background-position: -672px -569px;
        width: 6px;
        height: 10px;
        position: absolute;
        top: 15%;
        right: 0;
      }
    }
    .sns_list {
      position: absolute;
      right: 0;
      top: 88px;
      a {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
      }
      .icon_blog {
        background-position: -389px -380px;
      }
      .icon_post {
        background-position: -400px -507px;
      }
      .icon_facebook {
        background-position: -361px -507px;
      }
      .icon_tweeter {
        background-position: -428px -380px;
      }
      .icon_instagram {
        background-position: -439px -507px;
      }
    }
  }
}
