.signup_ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.memory_box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  span {
    font-size: 14px;
  }
}

.signup_check_box {
  position: relative;
  padding-left: 20px;
  margin-top: 30px;
  padding-bottom: 15px;
  font-size: 14px;
  border-bottom: 1px solid #ebebeb;
}
.signup_check_box button {
  content: "";
  display: block;
  position: absolute;
  margin: 0;
  top: -2px;
  left: 0;
  width: 17px;
  height: 17px;
  outline: none;
}

.signup_check_box button.checked {
  background: #ffd014;
  border: none;
}

.signup_check_box:after {
  display: block;
  content: "";
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button.submit {
  display: block;
  width: 100%;
  margin-top: 24px;
  height: 48px;
  background: #ffd014;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
  border: none;
  outline: none;
}

div.pop_container {
  width: 470px;
  padding: 24px 26px 26px;
  border-radius: 12px;
  background-color: #f6f6f6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: none;

  .popup_button {
    margin-top: 15px;

    a {
      background-color: #704de4;
      width: 100%;
      text-align: center;
      height: 56px;
      display: block;
      font-size: 20px;
      color: white;
      border-radius: 6px;
      line-height: 56px;
    }
  }

  .popup_heading {
    padding: 15px 0 15px 0;
    border-bottom: 2px solid #656565;
    font-size: 20px;
  }

  .popup_content {
    height: 550px;
    overflow-y: scroll;
    padding-top: 5px;
    dt {
      margin-top: 30px;
      color: #6d3afb;
      font-size: 18px;
      font-weight: bold;
    }
    dd {
      padding-top: 10px;
      margin-top: 10px;
      line-height: 27px;
    }
  }
}
.pop_container:target {
  z-index: 5;
  display: inline-block;
  transition: all 0.5s;
}

.pop_container:target + .dim {
  display: block;
  position: fixed;
  transition: all 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.all_agree span {
  cursor: pointer;
}
