.input_select {
  border: 1px solid darkblue;
  background-color: white;
  font-size: 20px;
  width: 100px;
  border-radius: 5px;
}
.from_what_time {
  width: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  font-weight: 600;
  font-size: 16px;
}
