$width-small: 720px;
$width-medium: 1000px;
$width-large: 1300px;

.user_comment {
  padding: 24px 0 0;
  border-bottom: 1px solid #ebebeb;

  .user_context {
    padding: 0 0 24px 110px;
    position: relative;

    img {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      position: absolute;
      background-size: cover;
      background-position: 50%;
      @media all and(max-width:$width-small) {
        width: 65px;
        height: 65px;
      }
    }

    .user_name {
      font-size: 18px;
      line-height: 21px;
      @media all and(max-width:$width-small) {
        font-size: 14px;
      }
    }

    .user_qus {
      margin-top: 11px;
      line-height: 28px;
      color: #656565;
      @media all and(max-width:$width-small) {
        font-size: 13px;
      }
    }

    .comment_time {
      margin-top: 13px;
      display: flex;
      justify-content: space-between;

      .delete_btn {
        margin-left: 5px;
        cursor: pointer;
      }

      p,
      span {
        font-size: 12px;
        color: #b2b2b2;
      }
    }
  }

  .host_reply {
    padding: 11px 0 24px 110px;

    .host_head {
      font-size: 18px;
      color: #6d3afb;
      @media all {
        font-size: 14px;
      }
    }
    .host_review {
      margin-top: 11px;
      line-height: 28px;
      color: #656565;
      @media all {
        font-size: 13px;
      }
    }

    .host_time {
      font-size: 12px;
      margin-top: 12px;
      color: #b2b2b2;
    }
  }
}
.dim {
  display: inline-block;
  text-indent: -9999px;
}
